.header{
  font-family: "Monotype Corsiva", cursive;
  padding: 30px;
  display: flex;
  justify-content: space-between;

}

.name {
  font-family: inherit;
  font-size: 2rem;
  font-style: oblique;
  /*font-weight: bold;*/
}

.numbers {
  display: flex;
  gap: 20px;
  font-size: 25px;
}
