<table class="result-table" id="resultTable" style="text-align: center">
  <tr>
    <td>Time</td>
    <td>X</td>
    <td>Y</td>
    <td>R</td>
    <td>Hit</td>
    <td>Execution time</td>
    <td>User</td>
  </tr>
<!--  <tr *ngFor="let item of items">-->
<!--    <td>{{item.split[0]}}</td>-->
<!--    <td>{{item.split[1]}}</td>-->
<!--    <td>{{item.split[2]}}</td>-->
<!--    <td>{{item.split[3]}}</td>-->
<!--    <td>{{item.split[4]}}</td>-->
<!--    <td>{{item.split[5]}}</td>-->
<!--    <td>{{item.split[6]}}</td>-->
<!--  </tr>-->
</table>
