<table class="result-table" id="resultTable" style="text-align: center">
  <tr>
    <td>Дата</td>
    <td>X</td>
    <td>Y</td>
    <td>R</td>
    <td>Попадание</td>
    <td>Время выполнения</td>
    <td>Пользователь</td>
  </tr>
<!--  <tr *ngFor="let item of items">-->
<!--    <td>{{item.dateTime}}</td>-->
<!--    <td>{{item.x}}</td>-->
<!--    <td>{{item.y}}</td>-->
<!--    <td>{{item.r}}</td>-->
<!--    <td>{{item.res}}</td>-->
<!--    <td>{{item.executionTime}}</td>-->
<!--    <td>{{item.username}}</td>-->
<!--  </tr>-->
</table>
