<form>
  <div>
    <label>Логин: </label>
    <input
      type="text"
      [(ngModel)]="loginForm.login"
      #login="ngModel"
      required
      name="login"
      (input)="checkForSubmit(login.valid, password.valid)"
    />
    <div *ngIf="login.invalid && (login.dirty || login.touched)">
      <div *ngIf="login.errors?.['required']" style="color: red">
        Логин не может быть пустым
      </div>
    </div>
  </div>
  <div>
    <label>Пароль: </label>
    <input
      type="password"
      [(ngModel)]="loginForm.password"
      #password="ngModel"
      minlength="8"
      pattern="\w{8,}"
      placeholder="1abcdefg"
      name="password"
      required
      (input)="checkForSubmit(login.valid, password.valid)"
    />
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.['pattern'] || password.errors?.['required']" style="color: red">
        Пароль должен включать буквы и цифры, не менее 8 символов
      </div>
    </div>
  </div>

  <button id="log-in-btn" (click)="printForm()" disabled="disabled">Войти</button>
</form>
