<form [formGroup]="loginForm">
  <div>
    <label>Логин: </label>
    <input
      type="text"
      required
      formControlName="username"
    />
    <div
      style="color: red"
      *ngIf="usernameControl().invalid && (usernameControl().dirty || usernameControl().touched)">
      Логин не может быть пустым
    </div>
  </div>
  <div>
    <label>Пароль: </label>
    <input
      type="password"
      placeholder="password"
      formControlName="password"
    />
    <div
      style="color: red"
      *ngIf="passwordControl().invalid && (passwordControl().dirty || passwordControl().touched)">
      Пароль не может быть пустым
    </div>
  </div>

  <button
    [disabled]="!loginForm.valid"
    (click)="sendForm()"
  >Войти</button>
</form>
