.main_page {
  position: relative;
  display: grid;
  grid-template-columns: 40% 30%;
  padding: 0 10%;
  gap: 10%;
}

.svg_container {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
  .main_page {
    display: block;
  }
}

.logout {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 30px;
}
