@import "src/assets/style/variables";

#point_form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: $main_color;
  padding: 60px;
  border-radius: 10px;
  div{
    label{
      margin-right: 10px;
    }
  }
}
