<div class="container_centered">
  <form id="point_form" class="container_centered shadowing" [formGroup]="form">
    <div>
      <label>X: </label>
      <mat-form-field appearance="outline">
        <mat-label>Выберите x</mat-label>
        <mat-select formControlName="x">
          <mat-option value="-4">-4</mat-option>
          <mat-option value="-3">-3</mat-option>
          <mat-option value="-2">-2</mat-option>
          <mat-option value="-1">-1</mat-option>
          <mat-option value="0">0</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <label>Y:</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          max="3"
          min="-3"
          placeholder="(-3; 3)"
          formControlName="y"
        >
        <mat-error *ngIf="yControl().invalid">
          <ng-container *ngIf="yControl().value ">
            Y вне диапазона (-3; 3)
          </ng-container>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <label>R: </label>
      <mat-form-field appearance="outline">
        <mat-label>Выберите r</mat-label>
        <mat-select
          (selectionChange)="changeR()"
          formControlName="r">
          <mat-option value="-4">-4</mat-option>
          <mat-option value="-3">-3</mat-option>
          <mat-option value="-2">-2</mat-option>
          <mat-option value="-1">-1</mat-option>
          <mat-option value="0">0</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button
      color="primary"
      mat-raised-button
      (click)="submit()">Отправить
    </button>
  </form>
</div>
