<form [formGroup]="signUpForm">
<!--  <div>-->
<!--    <label>Имя: </label>-->
<!--    <input-->
<!--      type="text"-->
<!--      required-->
<!--      formControlName="name"-->
<!--    />-->
<!--    <div-->
<!--      style="color: red"-->
<!--      *ngIf="nameControl().invalid && (nameControl().dirty || nameControl().touched)">-->
<!--      Имя не может быть пустым-->
<!--    </div>-->
<!--  </div>-->


  <div>
    <label>Логин: </label>
    <input
      type="text"
      required
      formControlName="username"
    />
    <div
      style="color: red"
      *ngIf="usernameControl().invalid && (usernameControl().dirty || usernameControl().touched)">
        Логин не может быть пустым
    </div>
  </div>


  <div>
    <label>Пароль: </label>
    <input
      type="password"
      placeholder="password"
      formControlName="password"
    />
    <div
      style="color: red"
      *ngIf="passwordControl().invalid && (passwordControl().dirty || passwordControl().touched)">
        Пароль должен включать не менее 8 символов
    </div>
  </div>


  <div>
    <label>Пароль ещё раз: </label>
    <input
      type="password"
      formControlName="passwordRepeat"
    />
    <div
      style="color: red"
      *ngIf="!isPasswordRepeated() && (passwordControl().dirty || passwordControl().touched)">
      Пароли не совпадают
    </div>
  </div>
  <br/>
  <button
    [disabled]="!signUpForm.valid && !isPasswordRepeated()"
    (click)="sendForm()"
  >Зарегистрироваться</button>
</form>
