<form>
  <div>
    <label>Имя: </label>
    <input
      type="text"
      [(ngModel)]="signUpForm.name"
      #name="ngModel"
      required
      name="name"
      (input)="checkForSubmit(name.valid, login.valid, password.valid, passwordRepeat.valid)"
    />
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors?.['required']" style="color: red">
          Имя не может быть пустым
      </div>
    </div>
  </div>


  <div>
    <label>Логин: </label>
    <input
      type="text"
      [(ngModel)]="signUpForm.login"
      #login="ngModel"
      required
      name="login"
      (input)="checkForSubmit(name.valid, login.valid, password.valid, passwordRepeat.valid)"
    />
    <div *ngIf="login.invalid && (login.dirty || login.touched)">
      <div *ngIf="login.errors?.['required']" style="color: red">
          Логин не может быть пустым
      </div>
    </div>
  </div>


  <div>
    <label>Пароль: </label>
    <input
      type="password"
      [(ngModel)]="signUpForm.password"
      #password="ngModel"
      minlength="8"
      pattern="\w{8,}"
      placeholder="1abcdefg"
      name="password"
      required
      (input)="checkForSubmit(name.valid, login.valid, password.valid, passwordRepeat.valid)"
    />
    <div *ngIf="password.invalid && (password.dirty || password.touched)">
      <div *ngIf="password.errors?.['pattern'] || password.errors?.['required']" style="color: red">
          Пароль должен включать буквы и цифры, не менее 8 символов
      </div>
    </div>
  </div>


  <div>
    <label>Пароль ещё раз: </label>
    <input
      type="password"
      [(ngModel)]="signUpForm.passwordRepeat"
      #passwordRepeat="ngModel"
      minlength="8"
      pattern="\w{8,}"
      placeholder="1abcdefg"
      required
      name="passwordRepeat"
      (input)="passwordEquals(); checkForSubmit(name.valid, login.valid, password.valid, passwordRepeat.valid)"
    />
  </div>
  <span id="equals-warning" style="display: none; color: red">Пароли не совпадают</span>
  <br/>
  <button id="sign-up-btn" (click)="printForm()" disabled="disabled">Зарегистрироваться</button>
</form>
